$main-color: #CA0908

$baseFontSize: 16px
$bodyBackground: #F1F1F1

$navbarInverseBackground: lighten($main-color, 5%)
$navbarInverseBackgroundHighlight: $main-color
$navbarInverseText: white
$navbarInverseLinkColor: white
$navbarHeight: 60px

$linkColor: #C00
$btnPrimaryBackgroundHighlight: lighten($linkColor, 5%) 

@import "twitter/bootstrap/variables"
@import "twitter/bootstrap"

.navbar
  margin-bottom: 0
  .brand
    font-family: Helvetica,Arial,sans-serif
    font-size: 18px
    font-weight: bold

.navbar-inner
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

.container-main
  border: 1px solid #E2E2E2
  background-color: white
  width: 880px
  padding: 20px 40px 40px 40px

.container-footer
  width: 960px

footer
  margin-top: 30px
  p
    color: #a3a3ac

.alert-error
  background-color: lighten($main-color, 55%)
  border-color: ligthen($main-color, 50%)
  padding: 15px
  margin: 15px 0

$info-color: #96CB8E
.alert-info
  background-color: lighten($info-color, 25%)
  border-color: lighten($info-color, 10%)
  color: darken($info-color, 20%)
  p
    margin: 5px

.alert
  .close
    top: 2px

h1
  font-size: 24px
  border-left: 7px solid $main-color
  padding-left: 10px

.new-link
  margin: 15px 0

.form-inputs
  margin-top: 30px
  input[type="text"], input[type="tel"], input[type="email"]
    padding: 10px
    margin-right: 12px
  .input-short
    width: 228px
  .input-long
    width: 460px

.form-actions
  .btn
    padding: 10px
    width: 120px

dl.model-show
  font-size: 120%
  dt
    margin-top: 20px
  dd
    margin-top: 10px

.nav-links
  margin-top: 40px
